.inline-objective {
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 5px;
}

input {
    display: none;
}

input:checked+label {
    text-decoration: line-through;
    color: slategray;
    border: 1px solid slategray;
}