ul {
    list-style: none;
    padding-left: 0;
}

li input {
    display: none;
}

input:checked+label {
    text-decoration: line-through;
    color: slategray
}

.group-grid {
    display: grid;
    grid-template-columns: auto;
}